Plaintext
# Archivos compilados y caché de Python
__pycache__/
*.pyc

# Base de datos local
*.db
funeraria.db

# Archivos temporales y reportes
*.pdf
recibo_temp.pdf

# Configuración del editor
.vscode/

# Compilados de Python
**/__pycache__/
*.pyc

# Carpetas de empaquetado (PyInstaller)
build/
dist/
*.spec

# Entornos virtuales (por si usas uno en el futuro)
.venv/
venv/
env/